```gitignore
# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Allure
allure-results/
allure-report/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Kotlin
.kotlin/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# macOS
.DS_Store
```
